
#clear {
	left: 50px;
	position: fixed;
}

#go {
	right: 50px;
	position: fixed;
}

#main button{
	border:  none;
	background: transparent;
	size: 75px 75px;
}

a {
	text-decoration: none;
	display: inline-block;
}

.buttonBox{
	
	text-align: center;
	width: 1300px;

	height: 300px;
	
}


.buttonBox button{
	padding: 2px 2px;
}

.buttonBox button img{
	width: 200px;
	height: auto;
	
}



#selector {
	background-image: url("./blank.png");
	width:  1126px;
	height: 130px;
	position: fixed;
	text-align: center;
	bottom: 0;
	background-position: center;
	background-size: 1126px 130px;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	margin-left: -563px; /* Half of the width */
}

button {
	background-color: transparent;
	border: none;
	display:inline-block;
	padding: none;
}

button img{
	padding: none;

}

#main {
	text-align: center;
}

#main button  {


	display:inline-block;
	padding: 4px;

}

#main button img {
	height: 90px;
	width: 90px;
	
	
}


#portraitBox img {
	width:  90px;
	height: 90px;
	vertical-align: middle;
	padding: 7px;
}

#portraitBox{

	vertical-align: middle;
	margin-top: 20px;

}

.backButton{
	z-index: 2;
	text-align: center;
	width: 1126px;
	margin: -150px auto;
	position: relative;
}

.backButton a {
	display: inline-block;
	text-align: center;
	padding: 0px;

}

.back img{
	height: 100px;
	width: auto;
}

.back {
	text-align: center;
	display: inline-block;
}
